spring:
  liquibase:
    enabled: false
  jpa:
    generate-ddl=false:
    hibernate:
      ddl-auto=create-drop:h2:
    console:
      enabled: true
      path: /h2
  datasource:
    url: jdbc:postgresql://10.238.1.127:5432/SICOSEL2_PRS1?currentSchema=rsl
    username: infotec_dev
    password: 1nf0t3c2021.
    driverClassName: org.postgresql.Driver
  h2:
    console:
      enabled: true
      path: /console
      settings:
        trace: false
        web-allow-others: false
clientes:
  autenticacion: http://dev.sicosel2.oadprs.gob.mx:8081

info:
  application:
    environment: 'desarrollo'