spring:
  jpa:
    generate-ddl=true:
    hibernate:
      ddl-auto=create-drop:h2:
    datasource:
      url: jdbc:h2:file:~/test
      username: sa
      password:
      driverClassName: org.h2.Driver
  liquibase:
    change-log: 'classpath:db/databaseChangeLog.yaml'
  h2:
    console:
      enabled: true
      path: /console
      settings:
        trace: false
        web-allow-others: false
clientes:
  autenticacion: http://10.238.1.143

info:
  application:
    environment: 'local'
app:
  rsa:
    privateKey:
      -----BEGIN PRIVATE KEY-----MIIBVQIBADANBgkqhkiG9w0BAQEFAASCAT8wggE7AgEAAkEA4QQmMkhJh7qTdCj2rSE6CKJl0ZWhIIEnthdLHPKJF7VD0JtJsrkVAmnf0XGOGZ4y9zXqyBCKp91aGNGKXOsb8QIDAQABAkAAgTTguf7IOifog8sB2mg56rtVvAMvgnqnUugNOZILJpDbSUg58u9vfEBCGSbpBH7CZ8tgDaLHrNUtqSg+1hPBAiEA/i10+RjnOFOOKv0Tz7FHtAXzdiPWDZAocnVaOp5aBAkCIQDioSqliB+PUxrYyvHBmGTQ90LWbjkJnLwgP53JqRtiqQIgXDNnFBjpfvAoSQXGkvdu2Cm0d+1l70OUuHhDQ7I/WukCIQCMM+iOP4hGwsL5G5Q0kHLOVCmlPstKhwxbZv/WoievAQIhAOWCWNHCjgXUkCUR8/wGYnQHlrHlzaDEkdinsxcZhKE5-----END PRIVATE KEY-----